<div class="main-div">
  <mat-toolbar color="primary" class="fixed-header">
    <mat-toolbar-row>
      <span class="title-span">Bienvenido, Ruben Cerda García</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="example-card">
    <div class="example-container">
      <h1>Iniciar nueva jugada</h1>
    </div>
    <div class="fields">
      <div>
        <h4>Cantidad de grupos: {{nGrupos}}</h4>
        <mat-slider [min]="2" [max]="4" [thumbLabel]="true" [step]="1" [(ngModel)]="nGrupos"></mat-slider>
      </div>
      <div>
        <h4>Cantidad de rondas: {{nRondas}}</h4>
        <mat-slider [min]="2" [max]="4" [thumbLabel]="true" [step]="1" [(ngModel)]="nRondas"></mat-slider>
      </div>
      <div>
        <h4>Productos por materia prima: {{productosPorMP}} producto(s)</h4>
      </div>
      <div>
        <h4>Inventario inicial de productos: {{inventarioInicial}} producto(s)</h4>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="startSesion()">Iniciar</button>
  </mat-card>
</div>
