.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

.title-span {
  font-weight: bold;
}

.fields {
  display: flex;
  flex-direction: column;
}

.example-card {
  width: 35vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.grupoTabs {
  margin: 20px 0px;
}

.tab {
  display: flex;
  flex-direction: column;
  margin: 50px 150px;
}

.textbox {
  width: 250px;
}

.itemCard {
  margin: 100px 10px;
  align-items: center;
}

.cardGrupo {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
