<div class="main-div">
  <mat-toolbar color="primary" class="fixed-header">
    <mat-toolbar-row>
      <span class="title-span">Bienvenido, {{username}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="example-card">
    <div class="example-container">
      <h1>Resultados</h1>
    </div>
    <div class="fields">
      <mat-list>
        <mat-list-item *ngFor="let ultimaJugada of ultimasJugadas">
          <h5>Grupo: {{ultimaJugada.idjugada + 1}} | Inventario: {{ultimaJugada.inventarioActual + ultimaJugada.compraMP *
            dataService.productosPorMP}} | Utilidad: {{ultimaJugada.saldoResultante}} | Valor inventario:
            {{(ultimaJugada.inventarioActual + ultimaJugada.compraMP * dataService.productosPorMP) * ultimoPP}}</h5>
        </mat-list-item>
      </mat-list>
    </div>
    <button mat-raised-button color="primary" routerLink="/inicio">Nueva sesión</button>
  </mat-card>
</div>
