<div class="main-div">
  <mat-toolbar color="primary" class="fixed-header">
    <mat-toolbar-row>
      <span class="title-span">Bienvenido, Ruben Cerda García</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="example-card">
    <div class="example-container">
      <h1>Resultados</h1>
    </div>
    <div class="fields">
      <mat-list>
        <mat-list-item *ngFor="let ultimaJugada of ultimasJugadas" class="itemCard">
          <mat-card class="cardGrupo">
            <mat-card-title>Grupo {{ultimaJugada.idjugada + 1}}</mat-card-title>
            Inventario: {{ultimaJugada.inventarioActual + ultimaJugada.compraMP * dataService.productosPorMP}} producto(s)<br>
            Utilidad: S/.{{ultimaJugada.saldoResultante}}<br>
            Valor inventario: S/.{{(ultimaJugada.inventarioActual + ultimaJugada.compraMP * dataService.productosPorMP) * ultimoPP}}
          </mat-card>
        </mat-list-item>
      </mat-list>
    </div>
    <button mat-raised-button color="primary" routerLink="/inicio">Nueva sesión</button>
  </mat-card>
</div>
