<div class="main-div">
  <mat-toolbar color="primary" class="fixed-header">
    <mat-toolbar-row>
      <span class="title-span">Bienvenido, {{username}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="example-card">
    <div class="example-container">
      <h1>Ronda {{rondaActual}}</h1>
    </div>
    <div class="fields">
      <h3>Precio de compra de materia prima del mercado: {{cmpMercado}}</h3>
      <h3>Precio de venta de producto del mercado: {{vpMercado}}</h3>
      <mat-tab-group class="grupoTabs">
        <mat-tab *ngFor="let grupo of nGrupos" label="Grupo {{grupo.idjugada + 1}}">
          <mat-grid-list [cols]="8" rowHeight="400px">
            <mat-grid-tile [colspan]="3">
              <div class="tab">
                <div class="textbox">
                  <h4>Compra de materia prima: {{compraMP}}</h4>
                  <mat-slider [min]="2" [max]="4" [thumbLabel]="true" [step]="1" [(ngModel)]="compraMP"></mat-slider>
                </div>
                <div class="textbox">
                  <h4>Venta de producto: {{ventaP}}</h4>
                  <mat-slider [min]="2" [max]="4" [thumbLabel]="true" [step]="1" [(ngModel)]="ventaP"></mat-slider>
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="5">
              <div class="tab">
                <h5>Total costo compra de materia prima: {{totalCostoMP}}</h5>
                <h5>Total ingreso venta de producto: {{totalIngresoVP}}</h5>
                <h5>Subtotal ronda: {{totalIngresoVP - totalCostoMP}}</h5>
                <h5>Subtotal inventario: {{inventarioNuevo}}</h5>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
      </mat-tab-group>
    </div>
    <button mat-raised-button color="primary" routerLink="{{nextView}}" (click)="siguienteRonda()">Finalizar ronda</button>
  </mat-card>
</div>
